*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    width: 100% ;
    height: 100vh;
    /* border: 3px solid greenyellow; */
    background-image: url(./assets/background-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.nav-bar{
    width: 100%;
    height: 70px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.brand-name{
    width: 10%;
    height: 35px; 
    /* border: 2px solid yellow; */
    margin-top: 10px;
    margin-left: 10px;
}
.options{
    width: 25%;
    height: 45px;
    justify-content: center; 
    /* border: 2px solid red; */
    margin-top: 10px;
    margin-left: 10px;
   
}
.profiles{
    width: 10%;
    height: 50px;
    /* border: 2px solid red; */
    

}
.options>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;  
}
.options>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.hero-content{
    width: 50%; 
    height: 50%;
    /* border: 2px solid yellow; */
    color: white;
   margin-left: auto;
   margin-right: auto;
   margin-top: 200px;
   text-align: center;
   justify-content: center;
}
.herotext>h1{
    font-size: 100px;
    text-align: center;
    
}
.word{ 
      font-size: 20px;
    padding-bottom: 75px;
}
.button>button{
    width: 10%;
    height: 25px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border-color: green;
   
}
.our-services{
    padding: 50px;
}
.our-services>h2{
    /* border: 2px solid green; */
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.service-cards{
    display: flex;
    gap: 50px;
}
.card{
    border: 1px solid black;
    width: 30%;
    height: 250px;
    border-radius: 20px;
    padding: 20px 30px;
}
.card>h6{
    font-weight: 900;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.rating{
    width: 100%;
    height: 100vh;
    /* border: 3px solid black; */
    background-image: linear-gradient(rgba(0,88,83,0.2),rgba(0,88,83,0.4)),url(./assets/world-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    
   
    
}
.rating>h1{
    width: 30%;
    border: 2px solid red;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
   font-size: 50px;
}
.rating>p{
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
    width: 20%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.ratings-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
    height: 50%;
    border: 2px solid green;
    /* background-color: white; */

}
.ratings1{
    width: 150px;
    height: 150px;
    /* border: 2px solid blanchedalmond; */
    background-color: white;
    border-radius: 15px;

}
.ratings2{
    width: 150px;
    height: 150px;
    /* border: 2px solid blanchedalmond; */
    background-color: white;
    border-radius: 15px;

}
.ratings3{
    width: 150px;
    height: 150px;
    /* border: 2px solid blanchedalmond; */
    background-color: white; 
     border-radius: 15px;
}
.ratings4{
    width: 150px;
    height: 150px;
    /* border: 2px solid blanchedalmond; */
    background-color: white;
    border-radius: 15px;

}
.ratings1>img{
   margin-top: 16px;
}
.ratings2>img{
    margin-top: 16px;

}
.ratings3>img{
    margin-top: 16px;
}
.ratings4>img{
    margin-top: 16px;
}
.ratings1>h2{
    margin-top: 16px;
 }
 .ratings2>h2{
    margin-top: 16px;
 }
 
 .ratings3>h2{
    margin-top: 16px;
 }
 .ratings4>h2{
    margin-top: 16px;
 }
 .ratings1>p{
    margin-top: 16px;
    font-size: 15px;
    font-weight: 100%;
 }
 .ratings2>p{
    margin-top: 16px;
 }
 
 .ratings3>p{
    margin-top: 16px;
 }
 .ratings4>p{
    margin-top: 16px;
 }

  









